.texto{color:white;
font-size:20px;
font-family:courier;
text-align:left-side;
}

#profile{
	background:linear-gradient(#d24dff,#9900cc);
	color:white;
	font-size:45px; 
	font-family:courier;
	padding:50px;
	border-radius:20px;
	}
	
body{
	background-color:black;
	}
	
img{height:200px;
width:200px;
border-radius:50%;
}

*{color:white;font-family:courier;font-size:20px;}
.top{color:white;font-size:45px;font-family:courier;}


@media only screen and (max-width:640px){
	
	#profile{
	width:100%;
	font-size: 14px;
	}
	
	.texto{
		font-size: 14px;
	}
	
	#title{
		width:100%;
		font-size:20px;
	}
	
	#sub{
		width:100%;
		font-size:14px;
	}


}


